footer{
color:#eee;
background-color: #535357;
font-size: 13px;
position: relative;
bottom:0;
left: 0;
right: 0;

header{
background-color: #313133;
display: flex;
padding: 1.4rem 4rem;
@media screen and (max-width:768px){
  display: block;
  padding: 1rem;
}
}
section{
display: flex;
flex-direction: column;
}

p{
font-weight: 700;

margin: .3rem 0;
}

h1{
margin-right: 4rem;
font-family: 'Bungee Spice', sans-serif;
  font-size:25px;
}

button{
background-color: #F68D48;
color: white;
margin-left:.5rem;
padding:.6rem 1rem;
border-radius: 3px;
}
input{
padding:.7rem 1rem;
width: 80%;
border-radius: 5px;
border: 1px solid;
}
form{
width:100%;
display: flex;
}
nav{
 padding: 1rem 6rem;
 display: flex;
 flex-wrap: wrap;
justify-content: space-between;

}
}

@media screen and (max-width:768px){
  nav{
     display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .3rem 1rem;
 }
 .wrap{
  display:block;
 }
}
